{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'brog/css/style.css' %}" />
    
    <title>{% block title %}日々の日記{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'brog:home' %}">日々の日記</a>
                {% else %}
                <a class="navbar-brand" href="{% url 'brog:index' %}">日々の日記</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated %}
                            <span class="navbar-text me-2">
                                {{ user.username }}さん
                            </span>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-secondary btn-sm">ログアウト</button>
                            </form>
                        {% else %}
                            <a href="{% url 'brog:login' %}" class="btn btn-primary btn-sm me-2">ログイン</a>
                            <a href="{% url 'brog:signup' %}" class="btn btn-secondary btn-sm">新規登録</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer class="text-center py-4 mt-auto bg-light">
        <p class="mb-0">&copy; YUMA NAGANO All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>